.DS_Store
.idea
.gitconfig
.skhdrc
.yabairc
*.log
tmp/
.config/alacri
.Trash
.actrc
.android
.aws
.angular-config.json
.cache
.cups
.docker
.lesshst
.local
.m2
.node*
.npm
.CFUserTextEncoding
.config/alacritty/
.config/configstore/
.config/gatsby/
.config/github-copilot/
.config/htop/
.config/iterm2/
.config/karabiner/
.config/neofetch/
.config/scripts/
.config/yarn/
.nvm/
.oh-my-zsh/
.openjfx/
.oracle_jre_usage/
.python_history
.spacemacs.env
.ssh/
.terminfo/
.vim/
.viminfo
.vscode/
.yarn/
.yarnrc
*zcompdump*
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
PlexMovies/
Projects/
Public/
clip.jpg
go.mod
go/
google-ads.yaml
hint-report/
org/
sofomo-projects/
.prettierd
